.tree-wrapper {
  padding: 10px 0 10px 10px;
  height: inherit;
}

:host {
  height: 100%;
}

.panel, .panel-body {
  height: inherit;
}

.panel-heading {
  min-height: 30px;
  line-height: 30px;
  padding: 0 15px 0 15px;
}
